
source_up 

export CF_EMAIL=$(gopass cat /cloudflare/email)
export CF_TOKEN=$(gopass cat /cloudflare/token)
export CF_ZONE=$(gopass cat /cloudflare/$DOMAIN/zone-id)
export CF_ARGO_TUNNEL=$(gopass cat /cloudflare/tunnel)
export CF_DDNS_TOKEN=$(gopass cat /cloudflare/ddns-token)
