export PG_PASSWORD=$(gopass cat /docker01/data/postgres/password)
export MINIO_KEY=$(gopass cat /docker01/data/postgre/minio_key)
export MINIO_SECRET=$(gopass cat /docker01/data/postgre/minio_secret)

