source_up 
export LDAP_JWT=$(gopass cat docker01/lldap/jwt_secret)
export LDAP_PW=$(gopass cat docker01/lldap/root_password)

export MAIL_USER=$(gopass cat mail/username)
export MAIL_PASSWORD=$(gopass cat mail/password)
#export SMTP_SERVER=$(gopass cat mail/smpt_host)
export SMTP_SERVER=$DOMAIN1
export SMTP_PORT=$(gopass cat mail/smpt_port)

export JWT=$(gopass cat docker01/authelia/jwt_secret)
export PG_PASSWORD=$(gopass cat databases/pg/authelia)
export ENC_KEY=$(gopass cat docker01/authelia/encryption_key)
